@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="Index.css">;
</head>

<h1>Monitor tab</h1>


<div class="heroContainer">

    @*Dropdown for batch ID*@
    <div class="dropDownBatch">
        <label for="batch-id">Batch ID:</label>
        <select name="batch-id" id="batch-id">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </div>
    
    @*Monitoring*@
    <div class="infoBoxes">
        <div class="box">Type</div>
        <div class="box">Successfull/Failed Batch</div>
        <div class="box">Products Produced</div>
        <div class="box">Quantity</div>
        <div class="box">Successful Amount</div>
        <div class="box">Production Speed</div>
        <div class="box">Speed</div>
        <div class="box">Failed amount</div>
    </div>


    @*Start, stop, continue buttons*@
    <div class="secondBox">
        <button class="startBtn">Start</button>
        <button class="stopBtn">Stop</button>
        <button class="continueBtn">Continue</button>
    </div>

</div>

