@page
@model Semester_3_Projekt.Pages.ProductionModel
@{
}
<style>
	.grid-container {
		display: grid;
		grid-template-columns: auto auto;
		background-color: #2196F3;
	}

	.grid-item {
		background-color: rgba(255, 255, 255, 0.8);
		border: 1px solid rgba(0, 0, 0, 0.8);
		font-size: 30px;
		text-align: center;
	}

	.alertBar {
		display: none;
		background-color: #f44336;
		color: white;
		padding: 10px;
		text-align: center;
	}
</style>

<div class="alertBar" id="alertBar">
	<p>Alert message goes here!</p>
</div>

<h1>Production Tab</h1>

<!-- This part creates a form with labels and textfields that updates when a key has been pressed. -->
<form id="productionForm" method="post">
	<div class="grid-container">
		<div class="grid-item"><label for="typeDropdown">Please select the type of beer to be produced:</label></div>
		<div class="grid-item">
			<select asp-for="ProductList" asp-items="Model.ProductList" name="typeDropdown" id="typeDropdown">
			</select> 
		</div>
		<div class="grid-item"><label for="quantityInput">Please enter the quantity of beer to be produced: </label></div>
		<div class="grid-item"><input type="number" id="quantityInput" name="quantityInput"></div>
		<div class="grid-item"><label for="speedInput">Please enter machine's speed during this production:</label></div>
		<div class="grid-item"><input type="number" id="speedInput" name="speedInput"></div>
		<!-- This part creates a button to submit the form. -->
		<button type="submit" id="setProductionButton">Set Production</button>
	</div>

	<br>
	<br>

	
</form>

