
/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header Styles */
h1 {
    color: #444;
    margin-bottom: 5x;
    text-align: center;
}

/* Main Container */
.heroContainer {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Alert, Dropdown and Current Batch */
.alertStatus, .dropDownBatch, .currentBatchDisplay {
    background-color: #fff;
    padding: 8px;
    margin-bottom: 12px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    font-weight: bold;
}

/* Alert Status */
.alertStatus {
    position: relative;
    background-color: yellow;
    color: black;
    background-clip: padding-box;
    box-shadow: none;
    border-radius: 0;
}
/* Alert Status Yellow and Black Stripes */
.alertStatus::after {
    content: "";
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    z-index: -1;
    background: repeating-linear-gradient( 45deg, yellow, yellow 7px, black 7px, black 14px);
}

/* Maintenance Bar Container */
.maintenanceContainer {
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    display: none; /* Hides the bar until the maintenance status is set to true */
}
/* Maintenance Bar*/
.maintenanceBar {
    background-color: #ddd;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    height: 20px;
    position: relative;
}
/*Maintenance Bar Animation */
.maintenanceProgress {
    background-color: orangered;
    background-image: linear-gradient( 45deg, rgba(0, 0, 0, 0.2) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 75%, transparent 75%, transparent );
    background-size: 40px 40px; /* Size of the checkered pattern */
    animation: moveBackground 2s linear infinite; /* Moving background */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
/* Text on the maintenance bar */
.maintenanceText {
    position: absolute;
    color: #000;
    line-height: 20px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    font-weight: bold;
}
/* The illustration of the maintenance bar */
/* Initial animation for the bar filling from 0 to 30% */
@keyframes fillTo30 {
    0% {
        width: 0%;
    }
    100% {
        width: 30%;
    }
}
/* Class to apply the initial animation */
.initialFill {
    animation: fillTo30 2s ease-out forwards; /* 'forwards' will keep the state at 30% after animation ends */
}


/* Dropdown Label */
.dropDownBatch label {
    margin-right: 10px;
}

/* Info Boxes */
.infoBoxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 15px;
    padding: 10px;
}

/* Individual Box */
.box {
    background-color: #fff;
    border: none;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    text-align: left;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Button Container */
.secondBox {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

/* Buttons */
.secondBox > button {
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
    border-radius: 5px;
    color: white;
}

.startBtn {
    background-color: #4CAF50;
}

.stopBtn {
    background-color: #f44336;
}

.continueBtn {
    background-color: #ff9800;
}

.secondBox > button:hover {
    opacity: 0.9;
}

.startBtn:active, .stopBtn:active, .continueBtn:active {
    transform: translateY(2px);
}
