/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header Styles */
h1 {
    color: #444;
    margin-bottom: 20px;
    text-align: center;
}

/* Main Container */
.heroContainer {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Dropdown and Batch Display */
.dropDownBatch, .currentBatchDisplay {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.currentBatchDisplay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.maintenanceContainer {
    margin-top: 20px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.maintenanceBar {
    width: 100%;
    background-color: #ddd;
}

.maintenanceProgress {
    height: 20px;
    background-color: #4CAF50;
    width: 0%; /* Adjust based on maintenance needs */
    border-radius: 5px;
}

#maintenanceStatus {
    margin-top: 10px;
    display: block;
}

/* Dropdown Label */
.dropDownBatch label {
    margin-right: 10px;
}

/* Info Boxes */
.infoBoxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 15px;
    padding: 10px;
}

/* Individual Box */
.box {
    background-color: #fff;
    border: none;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    text-align: left;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Button Container */
.secondBox {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

    /* Buttons */
    .secondBox > button {
        border: none;
        padding: 10px 15px;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.2s;
        border-radius: 5px;
        color: white;
    }

.resetBtn {
    background-color: #ffc404;
}

.startBtn {
    background-color: #4CAF50;
}

.stopBtn {
    background-color: #f44336;
}

.abortBtn {
    background-color: #f44336;
}

.clearBtn {
    background-color: #ffc404;
}

.secondBox > button:hover {
    opacity: 0.9;
}

.startBtn:active, .stopBtn:active, .continueBtn:active {
    transform: translateY(2px);
}
